h2 {
  margin-bottom: 0px;
  padding-bottom: 15px;
  font-size: 30px;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 20em;
  justify-content: space-evenly;
}

.description-input {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-top: 5px;
}
button[type="submit"] {
  margin-top: 15px;
  width: 100%;
  background-color: #2b308c;
}

.messages {
  height: 8em;
  font-size: 10px;
  width: 100%;
  max-width: 44em;
}

.upload-message {
  height: 100%;
  font-size: 20px;
  color: rgb(146 239 146);
  margin: 0;
}

.progress-container {
  bottom: 15em;
  left: 16em;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  position: relative;
}
.progress-bar {
  width: 23em;
  height: 2em;
}
.progress-percent {
  margin-right: 5px;
  width: 42px;
  display: flex;
  justify-content: flex-end;
}

.filename-list {
  height: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 25px;
}

.file-viewer {
  height: 10em;
}