h2 {
  margin-bottom: 30px;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 20em;
  justify-content: space-evenly;
}

.description-input {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-top: 5px
}
button {
  margin-top: 15px;
  width: 100%;
}

